@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg-color: #B0E0E6;
    --text-color:#F5F5F5;
    --hover-text:#2F4F4F;
    --header-color:#008080;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
    outline: none;
    font-family: "Poppins",sans-serif;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
header{
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;   
    background-color: var(--header-color);
}
header .logo{
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--text-color);
    cursor: default;
    transition: 0.1s linear;
}
header .logo:hover{
    color: var(--hover-text);
}
#menu-icon{
    display: none;
    font-size: 1.8rem;
}
.nav-bar a{
    color: var(--text-color);
    font-size: 1.8rem;
    margin-left: 4rem;
    transition: 0.1s linear;
}
.nav-bar a.primary,
.nav-bar a:hover{
    color: var(--hover-text);
}
/* -----------------------mobile */

@media (max-width:750px){
    .nav-bar{
        display: none;
    }
    #menu-icon{
        display: block;
    }
    .home{
        display: flex;
        flex-direction: column;
    }
}

/* ---------------------------------section */

section{
    min-height: 100vh;
    width: 100%;
    padding: 10rem 9% 2rem;
}
.img-home{
    width: 300px ;
    height: 400px;
    border-radius: 20%;
    background-image: url(/images/IMG_5912.JPG);
    overflow: hidden;
    background-size: contain;
    animation: animationImg 1s ease-in-out infinite alternate;
}
@keyframes animationImg {
    0%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(-20px);
    }
}
.img-home img{
    width: 300px;
}
.home{
    display: grid;
    grid-template-columns: auto auto;
    color: var(--hover-text);
    align-items: center;
}
.home-content{
    padding: 50px;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 3rem;
}
.home-content h3 span{
    color: var(--header-color);
}
.home-content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--header-color);
}
.home-content p{
    font-size: 2rem;
}
/* ----------------------------------footer */

footer{
    background-color: #2F4F4F;
    height: 100px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;

}
.app{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}